<!DOCTYPE html>
<html>
<head>
    <title>WordLearner</title>
</head>
<body>

    <h1>WordLearner</h1>

    <nav>
    <a href="{{ url_for('home') }}">Home</a> |
    <a href="{{ url_for('register') }}">Register</a> |
    <a href="{{ url_for('login') }}">Login</a> |
    <a href="{{ url_for('dashboard') }}">Dashboard</a> |
    <a href="{{ url_for('words') }}">Words</a> |
    <a href="{{ url_for('account') }}">Account</a> |
    <a href="{{ url_for('upload') }}">Upload</a> |
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('categories') }}">Categories</a> |
    <a href="{{ url_for('chat') }}">Chat</a> |
    <a href="{{ url_for('about') }}">About</a> |
</nav>

    <hr>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p><strong>{{ message }}</strong></p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>