{% extends "base.html" %}

{% block content %}
<h2>Login</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.email.label }}<br>
        {{ form.email() }}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password() }}
    </p>

    <p>
        {{ form.submit() }}
    </p>
</form>

<hr>

<h3>OAuth2 Login</h3>

<p>
    <a href="{{ url_for('github_login') }}">Login with GitHub</a>
</p>

<p>
    <a href="{{ url_for('yandex_login') }}">Login with Yandex</a>
</p>


{% endblock %}